#Wine Dataset Analysis Project

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
wine=pd.read_csv("/content/sample_data/wine.csv")
wine

     Wine  Alcohol  Malic.acid   Ash  ...  Color.int   Hue    OD  Proline
0       1    14.23        1.71  2.43  ...       5.64  1.04  3.92     1065
1       1    13.20        1.78  2.14  ...       4.38  1.05  3.40     1050
2       1    13.16        2.36  2.67  ...       5.68  1.03  3.17     1185
3       1    14.37        1.95  2.50  ...       7.80  0.86  3.45     1480
4       1    13.24        2.59  2.87  ...       4.32  1.04  2.93      735
..    ...      ...         ...   ...  ...        ...   ...   ...      ...
173     3    13.71        5.65  2.45  ...       7.70  0.64  1.74      740
174     3    13.40        3.91  2.48  ...       7.30  0.70  1.56      750
175     3    13.27        4.28  2.26  ...      10.20  0.59  1.56      835
176     3    13.17        2.59  2.37  ...       9.30  0.60  1.62      840
177     3    14.13        4.10  2.74  ...       9.20  0.61  1.60      560

[178 rows x 14 columns]

In [ ]:
print("#@$!",islower())

False